
<h1>登录</h1>

<%= simple_form_for :session, :url => sessions_path, :method => :post, :html => {:id => "login-form", :class => "form-horizontal"} do |f| %>
  
  <% if flash[:error] %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      </div>
    </div>
  <% end %>

  <%= f.input :login, :required => true, :input_html => {:value => params[:session][:login]} %>
  <%= f.input :password, :required => true %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :value => "登录" %>
    </div>
  </div>
<% end %>
