
<% breadcrumb :user, @user %>

<div class="page-header">
  <h3>编辑用户</h3>
</div>

<%= simple_form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.input :login %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :value => "保存" %>
    </div>
  </div>
<% end %>
