
<% breadcrumb :order, @order %>

<div class="page-header">
  <h3>新建订单</h3>
</div>

<div>
  <%= simple_nested_form_for @order, :html => {:class => "form-horizontal"}, :wrapper => false do |f| %>

    <div class="panel panel-default">
      <div class="panel-heading">基本信息</div>
      <div class="panel-body">
        <%= f.input :number %>
        <%= f.input :remark %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">产品列表</div>
      <div class="panel-body">
        <table id="edit-sub_products-list" class="table">
          <thead>
            <th>产品名称</th>
            <th>单位</th>
            <th>数量</th>
            <th>开始交货</th>
            <th>结束交货</th>
            <th>备注</th>
            <th></th>
          </thead>
          <tbody id="line_items">
            <%= f.simple_fields_for :line_items, :wrapper => false do |u| %>
              <tr class="fields hide-control-label">
                <td>
                  <%= u.input :product_id, :collection => @products, :label_method => :name, :value_method => :id, :input_html => {:class => 'sub_product_product_id'} %>
                </td>
                <td>
                  <%= u.input :unit_id, :collection => u.object.product.present? ? u.object.product.units : [], :input_html => {:class => 'sub_product_unit_id'} %>
                </td>
                <td><%= u.input :product_count %></td>
                <td><%= u.input :delivery_start, :as => :string, :input_html => {:type => "date"} %></td>
                <td><%= u.input :delivery_end, :as => :string, :input_html => {:type => "date"} %></td>
                <td><%= u.input :remark %></td>
                <td><%= u.link_to_remove "删除", :class => "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= f.link_to_add "添加", :line_items, :data => { :target => "#line_items" }, :class => "btn btn-success" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, :value => "保存" %>
      </div>
    </div>

  <% end %>
</div>