
<% #breadcrumb :rations %>

<div class="page-header">
  <h3>发货记录</h3>
</div>

<% @shipments.each do |shipment| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= short_date_time shipment.created_at %> / <%= shipment.user.real_name %>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>产品名称</th>
          <th>单位</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% shipment.shipment_records.each do |record| %>
          <tr>
            <td><%= link_to record.product.name, product_path(record.product) %></td>
            <td><%= record.unit.name %></td>
            <td><%= record.product_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>