
<% breadcrumb :edit_product, @product %>

<div class="page-header">
  <h3>编辑产品组件(<%= @product.name %>)</h3>
</div>

<%= simple_nested_form_for @product, :html => {:class => "form-horizontal"}, :wrapper => false do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">产品组件列表</div>
    <table id="edit-sub_products-list" class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th>产品名称</th>
          <th>产品单位</th>
          <th>数量</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="sub_products">

        <%= f.simple_fields_for :sub_products, :wrapper => false do |u| %>
          <tr class="fields hide-control-label">
            <td><%= u.input :product_id, :collection => @products, :label_method => :name, :value_method => :id, :input_html => {:class => 'sub_product_product_id'} %></td>
            <td><%= u.input :unit_id, :collection => u.object.product.present? ? u.object.product.units : [], :input_html => {:class => 'sub_product_unit_id'} %></td>
            <td><%= u.input :product_count %></td>
            <td><%= u.link_to_remove "删除", :class => "btn btn-danger" %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <div class="panel-footer">
      <%= f.link_to_add "添加新组件", :sub_products, :data => { :target => "#sub_products" }, :class => "btn btn-success" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, :value => "保存" %>
    </div>
  </div>
<% end %>